     {{!-- * Setup the `index.handlebars` to have the 
     template that Handlebars can render onto. --}}

<h1>Eat-Da-Burgers!</h1>
     {{!-- add image --}}
<div>
  <img src="/assets/img/burger.png" alt="burger" width="200px" height="200px" class="z-depth-3"></img>
</div>

<h2>Burgers to devour.</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devour=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers Devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devour}}
    {{/if}}
  {{/each}}
</ul>

{{!-- * Create a button in `index.handlebars` that will 
submit the user input into the database. --}}

<h2>Add a Burger?</h2>
<form class="create-form">

  <div>
    What Burger do you want?
  </div>

  <br></br>

  <div class="form-group">
    <label for="newBurger">Burger Name:</label>
    <input type="text" id="newBurger" name="name">
  </div>

  <button type="submit">Add</button>
</form>